* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #282F32 0%, #371211 25%, #7D1416 50%, #C0191F 75%, #E51E1B 100%);
    min-height: 100vh;
}


.hero-video {
    box-shadow: 0 12px 28px rgba(0, 0, 0, .25);
}



.btn-brand {
    --brand: #C0191F;
    --brand-hover: #E51E1B;
    background: var(--brand);
    border: 1px solid var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background: var(--brand-hover);
    border-color: var(--brand-hover);
}


@media (max-width: 991.98px) {
    .hero {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.card {
    background: rgba(40, 47, 50, 0.9);
    /* #282F32 con transparencia */
    backdrop-filter: blur(10px) saturate(140%);
    -webkit-backdrop-filter: blur(10px) saturate(140%);
    border: 1px solid rgba(229, 30, 27, 0.4);
    /* borde con el rojo vivo */
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .35);
    color: #f1f1f1;
}

.card h3,
.card strong {
    color: #E51E1B;
}

.list-group-item {
    background: transparent;
    border-color: rgba(229, 30, 27, 0.25);
    color: #ddd
}

.form-control {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
    border-color: #ff4d4d;
    box-shadow: 0 0 0 .2rem rgba(255, 77, 77, .25);
}