* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9c0202;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #343a40; */
    color: white;
}


.page-central {
    text-align: center;
    /* Centrar el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Asegurarse de que ocupe toda la altura de la ventana */
}
/* El .error-wrapper será el centro de nuestra página */
.error-wrapper {
    max-width: 500px;
    /* Ancho máximo para el contenido del error */
    margin: auto;
    /* Centrar la caja si no está dentro de un flex container con auto margins */
    padding: 30px;
}

.icon-container .img-container {
    height: 100px;
    /* Altura fija para el contenedor del png */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    /* Espaciado vertical */
}

.disconnected-plug {
    width: 100%;
    /* El png ocupe el ancho disponible */
    max-width: 150px;
    /* Ancho máximo para el png */
    height: auto;
}

.error-code {
    font-size: 3em;
    /* Tamaño del 404 */
    font-weight: 700px;
    /* Negrita */
    /* color: #343a40; */
    color: white;
    /* Color oscuro */
    margin-bottom: 0;
    line-height: 1;
    /* Espaciado entre líneas */
}

.error-message {
    font-size: 1.8em;
    /* Tamaño del mensaje "Oops..." */
    font-weight: 400;
    /* Normal */
    /* color: #343a40; */
    color: white;
    margin-bottom: 20px;
}

.explanation-text {
    font-size: 0.95em;
    /* color: #6c757d; */
    color: white;
    /* Un gris más suave para el texto explicativo */
    line-height: 1.6;
    margin-bottom: 25px;
    /* Margen inferior para el texto */
    max-width: 400px;
    /* Ancho máximo para la legibilidad del texto */
    margin-left: auto;
    margin-right: auto;
}

/* Boton Volver Inicio */
.return-home .btn {
    font-size: 1em;
    padding: 12px 30px;
    /* padding para el botón */
    border-radius: 5px;
    /* Bordesredondeados */
    text-transform: uppercase;
    /* Texto en mayúsculas */
    letter-spacing: 0.5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .error-code {
        font-size: 4em;
    }

    .error-message {
        font-size: 1.4em;
    }

    .explanation-text {
        font-size: 0.9em;
    }

    .return-home .btn {
        font-size: 0.9em;
        padding: 10px 25px;
    }
}

@media (max-width: 576px) {
    .icon-container > img{
        width: 300px;
        height: auto;
    }
    .error-code {
        font-size: 3em;
    }

    .error-message {
        font-size: 1.2em;
    }

    .explanation-text {
        font-size: 0.85em;
        padding: 0 10px;
        /* Añadir padding horizontal para pantallas pequeñas */
    }

    .error-wrapper {
        padding: 20px;
    }
}