*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/WhatsApp\ Image\ 2025-09-12\ at\ 6.33.03\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
header{
    background-color: #ffffff;
}
main{
    color: #ffffff;
}